{% extends 'base.html' %}

<!-- title -->
{% block title %} Login {% endblock title %}
<!-- content -->
{% block content %}
<h1>Sign In</h1>
<form action="" method="POST" novalidate>
    {{form.hidden_tag() }}
    <p>
        {{form.username.label}} <br>
        {{form.username(size=32)}}
        <span style="color: orangered;display: block;">
            {% for error in form.username.errors %} [{{ error }}] {% endfor %}
        </span>
    </p>
    <p>
        {{form.password.label}} <br>
        {{form.password(size=32)}}
        <span style="color: orangered;display: block;">
            {% for error in form.password.errors %} [{{ error }}] {% endfor %}
        </span>
    </p>
    <p>
        {{form.remember_me()}} {{form.remember_me.label}}
    </p>
    <p>
        {{form.submit()}}
    </p>
</form>
{% endblock content %}